.App {
  text-align: center;
  background-color: #242424;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* // Sample code suplpied from  */
/* // https://codepen.io/jamesbarnett/pen/vlpkh */

@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  } 


/* USer forms */


.container {
  display: grid;

}

.form {
  list-style: none;
}

.form-header {
  color: #EE4540;
  text-shadow: rgb(237, 237, 237, .2) 0px 0px .5px,   rgb(237, 237, 237, .2) 0px 0px .5px,   rgb(237, 237, 237, .2) 0px 0px .5px,
             rgb(237, 237, 237, .2) 0px 0px .5px,   rgb(237, 237, 237, .2) 0px 0px .5px,   rgb(237, 237, 237, .2) 0px 0px .5px;
}

.form li {
  padding-bottom: 10px;
  
}

.form li input {
  border: none;
  border-bottom: 2px solid #EE4540;
  
  color: #ededed;
  background: -webkit-linear-gradient(360deg ,#1c1c1c 0%, #494949 175%); 
  background: -moz-linear-gradient(360deg, #1c1c1c 0%, #494949 175%); 
  background: linear-gradient(360deg, #1c1c1c 0%, #494949 175%);
}
